body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: whitesmoke;
}
.app-wrapper{
  height: 100%;
  display: grid;
  background-color: whitesmoke;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  justify-content: center;
}
.infinity-scroll-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.codicon-loading{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}